.return-queue-card {
    width: 1100px;
    margin: 20px auto;
    background: #fff;
    border: 1px solid #8f8f8f;
}

.queue-header {
    display: flex;
    align-items: center;
    height: 42px;
    background: #d9d9d9;
    border-bottom: 1px solid #bfbfbf;
}

.queue-order {
    width: 160px;
    padding-left: 18px;
    font-size: 18px;
    font-weight: bold;
}

.queue-customer {
    flex: 1;
    font-size: 18px;
}

.queue-actions {
    display: flex;
}

.queue-button {
    width: 72px;
    height: 42px;
    border: none;
    border-left: 1px solid #999;
    background: #ececec;
    cursor: pointer;
    font-size: 22px;
}

.queue-button:hover {
    background: #dddddd;
}

.queue-body {
    display: flex;
}

.queue-history {
    width: 165px;
    border-right: 1px solid #d5d5d5;
    padding: 10px;
    line-height: 34px;
    font-size: 15px;
}

.queue-products {
    flex: 1;
}

.queue-product {
    display: flex;
    padding: 18px;
}
.queue-product-name {
    display: flex;
    align-items: baseline;
}
.product-left {
    width: 220px;
}

.product-left h3 {
    margin: 0 0 15px 10px;
    font-size: 20px;
}

.size {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mb {
    color: #555;
}

.product-right {
    width: 180px;
    line-height: 34px;
    font-size: 18px;
}

.product-id {
    width: 90px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

.queue-products hr {
    border: none;
    border-top: 6px solid #ececec;
}
.return-actions {
    margin: 30px;
    padding: 25px;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 8px;
}

.return-actions h3 {
    margin: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.return-actions-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
}

.action-card {
    height: 120px;

    border: 2px solid #d9d9d9;

    border-radius: 8px;

    background: #f5f5f5;

    cursor: not-allowed;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    gap: 10px;

    font-size: 18px;

    transition: 0.2s;
    opacity: 0.45;
    pointer-events: none;
    cursor: default;
}

.action-card span {
    font-size: 34px;
}

.action-card.active {
    background: white;

    cursor: pointer;

    border-color: #d94b4b;
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}

.action-card.active:hover {
    background: #fff4f4;

    transform: translateY(-2px);
}
